doctype html
html
  head
    title Shakil's Danse Academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/logo.png")
                | HDA
            li #[a(href="/") Home ]
            li #[a(href="/") About ]
            li #[a(href="/") Sevices ]
            li #[a(href="/") Class Info]
            li #[a(href="/contact") Contuct us ]
    block content
    footer#footer 
        | Copyright @ 2024 Shakil DanceAcademy.com All rights | recerved solve this code